---
title: "Business Identification - Help Center - Paddle"
description: "All Sellers are required to go through an account verification process. There are two checks that need to be carried out for this: Know Your Business (KYB) a..."
source: "help/start/account-verification/what-is-business-verification.html"
---

# Business Identification - Help Center - Paddle

Live webinar

Find out what’s working and what’s not for app growth, and how to use external payments to capture intent and drive growth in Q5

[Register now](https://www.paddle.com/events/webinars/why-q5-is-the-underrated-opportunity-in-mobile-app-growth?utm_medium=website&utm_source=website-banner&utm_campaign=webinars_fy2025_q4_core_revenuecat_webinar_18nov&utm_content=homepage-banner)

[Help](/help)[Start](/help/start)[Account Verification](/help/start/account-verification)

Business Identification

Once domain review has been successfully completed, we’ll check the information you provided at sign up to verify your business and its stakeholders.

**This usually happens without any action required from you. However, in some cases, our team may contact you by email for additional information.**

You may be asked to provide documents such as:

  * Your government issued business registration documents
  * Shareholder or company ownership breakdown documents, listing the names of individuals and entities that own the business and their percentage of the business they own. The document must show the owners with more than 25% ownership in the business.


**Please note, this step is not required for individuals or sole traders.**

  


## FAQs

### Who performs the checks?

The information you provide at signup is submitted to a third-party tool that the Paddle team uses to identify and verify the business. If more information is required to verify the business, such as proof of business registration, then a member of our team will be in touch.

  


### How long does a business verification check take?

A business verification check is instant, so unless our team needs any further information about your business, there’s nothing extra for you to do. If our team requires additional information, this step may take up to 2 business days.

  


### What is a government official business registration document?

This is a legal document issued by a government authority at the local, state or national level. It usually contains information such as your legal business name, address, registration number, ownership structure, and the names of the business owners and key stakeholders. 

  


### What is shareholder or company ownership breakdown?

This is a document that outlines the individuals, entities, or groups that hold ownership stakes in the business. The document must include the names of each owner, along with the percentage of the business they own. It must include anyone that owns 25% or more of your business. 

  


### Which documents are not acceptable?

Please don’t send us utility bills, accounting documents, or tax identification documentation such as your Employer Identification Number (EIN). Unfortunately, we can’t accept those. 

  


### What format should my documents be in?

Ideally, you should send us a PDF document. In some cases, we can accept a link to your documents if they are available in a public registry. If you’re sending us a link, make sure we can access the documents without login information.