---
title: "Identity Verification - Help Center - Paddle"
description: "What is an identity verification check    An identity verification check is an identification check on persons of significance in the business such as a UB"
source: "help/start/account-verification/what-is-identity-verification.html"
---

# Identity Verification - Help Center - Paddle

Live webinar

Find out what’s working and what’s not for app growth, and how to use external payments to capture intent and drive growth in Q5

[Register now](https://www.paddle.com/events/webinars/why-q5-is-the-underrated-opportunity-in-mobile-app-growth?utm_medium=website&utm_source=website-banner&utm_campaign=webinars_fy2025_q4_core_revenuecat_webinar_18nov&utm_content=homepage-banner)

[Help](/help)[Start](/help/start)[Account Verification](/help/start/account-verification)

Identity Verification

Once we’ve identified your business, we’ll run identity verification checks on key stakeholders associated with your business.

If you’re a registered business, we’ll need to verify the identity of at least one business owner. **Our team will contact you by email to request contact details for relevant stakeholders required to complete identity verification.**

If you are an individual or sole trader, you will be the person required to do the identity verification check. 

  


## How do I complete Identity verification?

We’ll send you an email to complete identity verification through our trusted partner, Onfido. Click the button in the email to get started.

You’ll be required to fill out your personal information, take a photo of your ID and take a video selfie.

The entire process only take a few minutes. 

**Here’s a few top tips from the Paddle team!**

Ensure your document is [supported by Onfido](https://onfido.com/supported-documents/), and make sure you take a photo of the original document

When taking your selfie, make sure to remove your glasses, move hair away from your face, remove hats or scarves and sit in front of a plain background in a well-lit room. 

  


## FAQs

### How long does the Identity Verification take?

Identify Verification is typically instant, however, it may take up to 1 business day if additional information is required.

  


### Who is Onfido?

[Onfido](https://onfido.com/) provide an industry-leading ID verification solution, trusted by thousands of global businesses.

  


### Is my data safe with Onfido?

Yes, Onfido protects user data in line with the highest standards of information security. You can read more about Onfido’s security here.