---
title: "Account Verification - Help Center - Paddle"
description: "All Sellers are required to go through an account verification process. There are two checks that need to be carried out for this: Know Your Business (KYB) a..."
source: "help/start/account-verification/what-is-account-verification.html"
---

# Account Verification - Help Center - Paddle

Live webinar

Find out what’s working and what’s not for app growth, and how to use external payments to capture intent and drive growth in Q5

[Register now](https://www.paddle.com/events/webinars/why-q5-is-the-underrated-opportunity-in-mobile-app-growth?utm_medium=website&utm_source=website-banner&utm_campaign=webinars_fy2025_q4_core_revenuecat_webinar_18nov&utm_content=homepage-banner)

[Help](/help)[Start](/help/start)[Account Verification](/help/start/account-verification)

Account Verification

Before Paddle starts acting as your Merchant of Record, we need to check some information about you and your business.

These checks help Paddle stay compliant with global regulations and keep our platform safe for everyone.

Account verification has three phases.

  1. [Domain review](https://www.paddle.com/help/start/account-verification/what-is-domain-verification)
  2. [Business verification](https://www.paddle.com/help/start/account-verification/what-is-business-verification) (not required for individuals or sole traders)
  3. [Identity verification](https://www.paddle.com/help/start/account-verification/what-is-identity-verification)