---
title: "Account Verification - Help Center - Paddle"
description: "Before Paddle starts acting as your Merchant of Record, we need to check some information about you and your business.

These checks help Paddle stay compliant with global regulations and keep our platform safe for everyone.

Account verification has three phases.
"
source: "help/start/account-verification.html"
---

# Account Verification - Help Center - Paddle

Live webinar

Find out what’s working and what’s not for app growth, and how to use external payments to capture intent and drive growth in Q5

[Register now](https://www.paddle.com/events/webinars/why-q5-is-the-underrated-opportunity-in-mobile-app-growth?utm_medium=website&utm_source=website-banner&utm_campaign=webinars_fy2025_q4_core_revenuecat_webinar_18nov&utm_content=homepage-banner)

[Help](/help)[Start](/help/start)

## Account Verification

Before Paddle starts acting as your Merchant of Record, we need to check some information about you and your business. These checks help Paddle stay compliant with global regulations and keep our platform safe for everyone. Account verification has three phases. 

[Domain Review](/help/start/account-verification/what-is-domain-verification)

[Business Identification](/help/start/account-verification/what-is-business-verification)

[Identity Verification](/help/start/account-verification/what-is-identity-verification)

[Account Verification](/help/start/account-verification/what-is-account-verification)